# Dependencies
node_modules/

# Next.js
.next/
out/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Local env files
.env*.local

# Vercel
.vercel

# IDEs
.vscode/
.idea/

# Project specific data (used from src/data instead)
src/data/

# TypeScript incremental compilation
*.tsbuildinfo